.Rapp.history
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj.user/
code/*.rds
ms/*.rds
EDA_FIA.Rmd
EDA_LC.Rmd
EDA_shared.Rmd
NNGP.R
summaries/
thin_summaries/
data/strat_15pct/
data/strat_15pct_85oos/
data/full/
